# Dependencies
node_modules/
# Builds
dist/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# Editor
.vscode/
.idea/
.DS_Store
# Env
.env
.env.local
.env.*.local
.file_activity_report.json
